#sources
*.c text diff
*.cc text diff
*.cxx text diff
*.cpp text diff
*.c++ text diff
*.hpp text diff
*.h text diff
*.h++ text diff
*.hh text diff

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary
