# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/*
*.vcxproj.user

# Build files
Bin/*
Junk/*
ScriptExtender/*

Build/SKSE/*
Build/SKSE64/*
Build/SKSE64AE/*
Build/SKSE64AE-GOG/*
Build/SKSEVR/*
Build/NVSE/*
Build/F4SE/*
Build/F4SEVR/*
